<%unless group.slides.empty?%>
<table class="compact_slidelist">
  <tr>
    <th>
      <%unless group.id == MasterGroup::Ungrouped_id%>
        <%=group_link_tag(group)%>
        <%slides = group.slides.current%>
      <%else%>
        <a name="ungrouped">Ungrouped slides</a>
        <%slides = Slide.current.ungrouped.order('id desc')%>
      <%end%>
    </th>
  </tr>
  <tr>
    <td>
      <%=render :partial => 'compact_slideitem', :collection => slides, :as => :s%>
    </td>
  </tr>
</table>
<%end%>