<%cache group_cache_key(group), tag: group.cache_tag do%>
<%unless group.slides.empty?%>
	<table class="compact_slidelist">
		<tr>
			<th>
				<%unless group.is_a? UnGroup%>
					<%=group_link_tag(group)%>
					<%slides = group.slides%>
				<%else #group is current events ungrouped slide group%>
					<a name="group_<%=group.id%>">Ungrouped slides</a>
					<%slides = group.slides.order('id desc')%>
				<%end%>
			</th>
		</tr>
		<tr>
			<td>
				<%=render slides%>
			</td>
		</tr>
	</table>
	<%end%>
<%end%>
