<div class="slidegroups" id='slidegroups' data-refresh-url="<%=url_for :controller => :slides, :action => :index%>" >
  <%=render :partial => 'compact_slidelist', :locals => {:group => @ungrouped}%>
  <%@groups.each do |group|%>
    <%unless group.slides.current.count == 0%>
      <%=render :partial => 'compact_slidelist', :locals => {:group => group}%>
    <%end%>
  <%end%>
</div>
