<div class="slidegroups" id='slidegroups' data-refresh-url="<%=url_for :controller => :slides, :action => :index%>" >
	<%if Slide.admin? current_user #for admins we can cache whole groups of slides %>
		<%@groups.each do |group|%>
			<%cache(:controller => :groups, :action => :show, :id => group.id) do%>
				<%=render :partial => 'group', :object => group%>
			<%end #cache%>
		<%end%>
	<%else%>
		<%=render :partial => 'group', :collection => @groups%>
	<%end%>
</div>
