<h1>Listing slides</h1>
<p>Current event: <%=Event.current.name%></p>

<div class='slidefilter'>
	<%=slide_filter_links @filter%>
</div>

<div class="slidelist">
	<%=render :partial => 'shared/group_links'%>
	<%=render :partial => 'slidegroups'%>
</div>