<%=javascript_include_tag 'embedapi'%>

<script type="text/javascript">
	var svgCanvas = null;

	function init_embed() {
		var frame = document.getElementById('svgedit');
		svgCanvas = new embedded_svg_edit(frame);

		//Load the slide svg
		$.get("<%=url_for :action => :svg_data, :id => @template.id%>", function(data){
			svgCanvas.setSvgString(data);
		}).error(function(){
			alert("Error fetching template svg data!");
		});

	}

	function handleSvgData(data, error) {
		if (error) {
			alert('error ' + error);
		}
		else {
			$.ajax({
				type: 'POST',
				url: '<%=svg_save_template_path @template.id%>',
				data: {svg: data},
				success: function(){
					alert("Saved successfully!");
				},
				error: function(){
					alert("Error saving data!");
				}
			})
		}			
	}

	function saveSvg() {
		svgCanvas.getSvgString()(handleSvgData);
	}
</script>


<iframe src="/svg-edit/svg-editor.html" id="svgedit" onload="init_embed()"></iframe>    


<%content_for :navigation do %>
	| <button onclick="saveSvg();" id="save_button">Save data</button>
<%end%>
