/TODO: CSS CLASSES
div.groupitem id=group.id
	div.groupheader = group_link_tag(group)
	div.groupbuttons
		= link_to 'Details', group_path(group), class: 'button'
		=< link_to 'Add slides', {controller: :groups, action: :add_slides, id: group.id}, 
			class: 'button', title: "Add ungrouped slides to this group."
		=< link_to 'Edit', edit_group_path(group), class: 'button', 
			title: 'Edit slide order and group metadata.'
		=< link_to 'Delete', group_path(group), method: :delete, 
			data: {confirm: "Are you sure you want to delete this group? \
				All slides in this group will become ungrouped."}, class: "button delete"
	
	div.slides_in_group
		- if group.slides.empty?
			div.no_slides
				p This group doesn't contain any slides
		- else
			- group.slides.each do |s|
				= slide_thumb_to_show_tag(s)