<% group.slides.each do |slide| %>
<li id="slide_<%= slide.id %>" class="<%= slide.public ? 'published' : 'hidden'%>">
	<span class="handle">⇕</span>
	<div class="slideimage"><%=slide_preview_to_show_tag slide%></div>
	
	<div class="slidename">
		<%=link_to slide.name, :controller => :slides, :action => :show, :id => slide.id %>
	</div>
</li>
<%end%>