<h1>Listing all master groups</h1>

<%=form_for @new_group, :url => {:action => :create} do |f|%>
<p><b>Add new master group with name:</b> <%=f.text_field :name%>
<%=f.submit "Add group"%></p>
<%end%>

<h2>Current defined master groups</h2>

<div class="grouplist">
  <%=render :partial => 'group', :collection => @groups%> 
</div>
