<%fields_for :edituser do |form| %>
<%end%>

<%fields_for 'password' do |form|%>
	<p>
		<label>Password</label>
		<%=form.password_field 'password'%>
	</p>
	<p>
		<label>Verify password</label>
		<%=form.password_field 'verify'%>
	</p>
<%end%>