<h1>Listing users</h1>

<div class="userlist">
	<table>
		<tr>
			<th>Username</th>
			<th>Roles</th>
			<th>Actions</th>
		</tr>
		<tr>
		  <td>
		    <%=render @users%>
		  </td>
		</tr>
	</table>
</div>