<h1>Create a new user</h1>
<%=error_messages_for 'edituser'%>
<%form_for :edituser, :url => {:action => :create} do |f| %>
	<p>
		<label>Username</label>
		<%=f.text_field 'username'%>
	</p>
	
	<%=render :partial => "form"%>
	<%=submit_tag 'Create'%>
<%end%>