div.schedule_info id="schedule_#{schedule.id}"
	div.schedule_header
		= link_to schedule.name, schedule_path(schedule)
	div.schedule_data
		ul
			li Events in this schedule: #{schedule.schedule_events.count}
			li 
				| Group for generated slides:
				=< link_to schedule.slidegroup.name, group_path(schedule.slidegroup)
			li 
				| Maximum number of generated slides:
				=< schedule.max_slides == -1 ? 'Unlimited' : schedule.max_slides
			li Generate "next up" -slides: #{schedule.up_next ? 'Yes' : 'No'}
			li 
				| Group for "next up" -slides: 
				=< link_to schedule.up_next_group.name, group_path(schedule.up_next_group)
	div.schedule_actions
		= link_to icon('info-circle', 'Details'), schedule_path(schedule), class: 'button'
		= link_to icon('edit', 'Edit'), edit_schedule_path(schedule), class: 'button'