<div class="cat"><img src='/cat.jpg' alt="Cat says" /></div>
<div>
	<h1>Our felines are unable to find what you are looking for</h1>

	<p>The page you tried to access doesn't exists or the resource might have been deleted. If you feel this is an error contact administration.</p>
</div>