


<div id="display_preview"></div>

<div id="display_control" data-id="<%=@display.id%>"></div>



<%content_for :navigation do %>
  <%if @display.can_edit? current_user%>
	<%=link_to 'Edit', :action => :edit, :id => @display.id%>
	<%end%>
	
	<%=link_to 'Remote control', :action => :dpy_control, :id => @display.id%>
	
	<%=link_to 'Slide stats', :action => :slide_stats, :id => @display.id%>
<%end%>