h1 Iskdpy remote control interface for display: #{@display.name}

div.display_preview
	= render @display
	div.control_buttons
		a.button#previous data-id=@display.id href='#top' Previous slide
		a.button#next data-id=@display.id href='#top' Next slide
	
div.display_control#display_control data-id=@display.id

= content_for :navigation do
	- if @display.can_edit? current_user
		=< link_to 'Edit', :action => :edit, :id => @display.id
	=< link_to 'Remote control', :action => :dpy_control, :id => @display.id
	=< link_to 'Slide stats', :action => :slide_stats, :id => @display.id
	