@font-face{
    font-family: 'CustomFont';
    src: url('/fonts/Franklin_Gothic_Heavy-Regular.ttf');
}

body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background: black;
}

div#renderer {
    cursor: none;
    height:100%;
    width:100%;
}

div#renderer * {
    position: absolute;
    height:100%;
    width:100%;
}

div#bgrs img {
    height:unset;
    max-height: 100%;
}

div#override * {
    display: block;
    height:unset;
    max-height: 100%;
}

div#override {
  transition: opacity 1s ease-in-out; 
  -webkit-transition: opacity 1s ease-in-out; 
  opacity: 0;
}

div#override.shown {
  opacity: 1;
}

div#clock canvas {
    display: block;
    height:unset;
    max-height: 100%;
    transition: transform 1s ease-in-out;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

div#clock canvas.hidden {
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
}

div#canvas * {
    display: block !important;
}

div#stats {
    display:inline-block;
    position: absolute;
    height: unset;
    width: unset;
    right: 0px;
    bottom: 0px;
}
div#stats * {
    position: relative;
}

div#errors {
    display:inline-block;
    position: absolute;
    font-size: 50px;
    right: 0px;
    top: 0px;
}
div#errors * {
    position: relative;
    display: none;
}

div#errors *.active{
   display: block;
}

div#pres{
    display: none !important;
}

