<h1>Listing events</h1>

<div class="eventlist">
	<table>
		<tr>
			<th>Name</th>
			<th>Current?</th>
			<th>Actions</th>
		</tr>
		<tr>
		  <td>
		    <%=render @events%>
		  </td>
		</tr>
	</table>
</div>