# Example database configuration, update for site-specific configuration
defaults: &defaults
  adapter: postgresql
  pool: 5
  username: <%= ENV['POSTGRES_USER'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>
  host: postgres

production:
  <<: *defaults
  database: isk

development:
  <<: *defaults
  database: isk_development

profile:
  <<: *defaults
  database: isk_development

test:
  <<: *defaults
  database: isk_test