# Example database configuration, update for site-specific configuration
defaults: &defaults
  adapter: postgresql
  pool: 5

production:
  <<: *defaults
  database: isk

development:
  <<: *defaults
  database: isk_development

profile:
  <<: *defaults
  database: isk_development

test:
  <<: *defaults
  database: isk_test