# Example database configuration, update for site-specific configuration
defaults: &defaults
  adapter: postgresql
  pool: 5
  username: <%= ENV['POSTGRES_USER'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>
  host: postgres

production:
  <<: *defaults
  database: isk
  # host: localhost
  # username: isk
  # password: changeme
  

development:
  <<: *defaults
  database: isk_development
  # host: localhost
  # username: isk
  # password: changeme
  

profile:
  <<: *defaults
  database: isk_development
  # host: localhost
  # username: isk
  # password: changeme
  

test:
  <<: *defaults
  database: isk_test
  # host: localhost
  # username: isk
  # password: changeme
