// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
@import "jquery-ui";
@import "jquery-ui-theme";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap_custom";
@import "spinner";
@import "buttons";
@import "slides";


// TODO: move to other files

div.group_list {
  margin-right: 150px;
  margin-left: 0px;
  
  div.panel {
    div.panel-heading {
      div.btn-group {
        float: right;
      }
    }
  }
}

// Navbar
body { padding-top: 85px; }

nav#top-navbar {
  
  a.navbar-brand {
    padding: 5px 15px;
  }
}

div.panel-heading {
  font-size: 150%;
  
  a {
    color: inherit;
  }
}

form.form-inline {
  label {
    margin: 0px 5px;
  }
  
  input {
    margin: 0px 5px;
  }
}