// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
@import "jquery-ui";
@import "jquery-ui-theme";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap_custom";
@import 'variables';
@import "slides";
@import "spinner";
@import "buttons";
@import "sortable";
@import "groups";
@import "presentations";
@import "schedules";

// TODO: move to other files

// Navbar
body { 
	padding-top: 90px;
	position: relative;
}

nav#top-navbar {
  a.navbar-brand {
    padding-top: 18px;
  }
	
	#tickets_tab {
		.badge {
			background-color: $brand-warning;
		}
	}
	
	li.navbar-warning {
		background-color: $state-warning-bg;
	}
	
	li.navbar-warning a:hover {
		background-color: darken($state-warning-bg, 10%);
	}
	
	#navbar-actions {
		margin-left: 60px;
		
		a {
			padding: 5px 5px;
			color: $text_color;		}
	}
}

// users#index
table.users {
	col.username {
	}
	
	col.roles {
		width: 50%;
	}
}

// templates#edit
div.field_attributes {
	width: 400px;
	font-size: $font_size;
	float: left;
	
	div.field_header {
		font-size: 1.4em;
	}
	
	ul.field_settings {
		list-style: none;
		margin: 0px;
		float: left;		
	}
}

// Display panels
div.panel-display {
	display: inline-block;
	margin: 5px;
	
	div.panel-body {
		padding: 0;
		
		img {
			margin-bottom: 5px;
		}
	}
	
	div.panel-footer {
		padding: 5px;
		text-align: center;
		
		div.btn-group {
			a {
				padding: 5px;
			}
		}
	}
}

div.panel-heading {
  font-size: 150%;
  
  a {
    color: inherit;
  }
}

form.form-inline {
  label {
    margin: 0px 5px;
  }
  
  input {
    margin: 0px 5px;
  }
}