// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
@import "jquery-ui";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap_custom";
@import "variables";
@import "slides";
@import "spinner";
@import "buttons";
@import "sortable";
@import "groups";
@import "presentations";
@import "schedules";

// TODO: move to other files

// Navbar

// Bootstrap scrollspy requires that the body has relative postitioning
body { 
	padding-top: 90px;
	position: relative;
}

nav#top-navbar {
	// Pad the isk logo so that it sits nicely
  a.navbar-brand {
    padding-top: 18px;
  }
	
	// Highlight color for the number of open tickets
	#tickets_tab {
		.badge {
			background-color: $brand-warning;
		}
	}
	
	// Tabs that want attention, like displays when there are errors detected
	li.navbar-warning {
		background-color: $state-warning-bg;
	}
	
	li.navbar-warning a:hover {
		background-color: darken($state-warning-bg, 10%);
	}
	
	// The lower navigation bar for component specific actions (list, new, etc)
	#navbar-actions {
		margin-left: 60px;
		
		a {
			padding: 5px 5px;
			color: $text_color;		}
	}
}

// Slide panels for jquery-ui sortable widgets.
// They are used in groups/edit.html.slim and displays/edit.html.slim
div.sortable-slide {
	
	div.panel-heading {
		width: 300px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	
	div.panel-body {
		padding: 0px;
		
		img {
			width: 300px;
			height: auto;
			padding: 0px;
		}
	}
}

// Styling for the user list table on users/index.html.slim
table.users {
	col.username {
	}
	
	col.roles {
		width: 50%;
	}
}

// templates#edit
div.field_attributes {
	width: 400px;
	font-size: $font_size;
	float: left;
	
	div.field_header {
		font-size: 1.4em;
	}
	
	ul.field_settings {
		list-style: none;
		margin: 0px;
		float: left;		
	}
}

// displays/_display.html.slim partial styling
// A bootstrap panel with condensed information for a display
div.panel-display {
	display: inline-block;
	margin: 5px;
	
	div.panel-body {
		padding: 0;
		
		img {
			margin-bottom: 5px;
		}
	}
	
	div.panel-footer {
		padding: 5px;
		text-align: center;
		
		div.btn-group {
			a {
				padding: 5px;
			}
		}
	}
}

// Use a slightly bigger font on panel headings and fix link color on them
div.panel-heading {
  font-size: 150%;
  
  a {
    color: inherit;
  }
}

// Add a tad of margins for inline style bootsrap forms
form.form-inline {
  label {
    margin: 0px 5px;
  }
  
  input {
    margin: 0px 5px;
  }
}