input[type=submit], .greenbutton, .redbutton {
	cursor: pointer;
	color: white;
}

/*
input[type=submit], div.navigation a {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:0px 5px;
	text-decoration:none;
}

*/

input[type=submit].redbutton, div.logout input[type=submit] {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:0px 5px;
	text-decoration:none;
}



input[type=submit].greenbutton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:0px 5px;
	text-decoration:none;
}

@keyframes blink_red
{
	0% {background-color: #F00;}
	20% {background-color: #F11;}
	40% {background-color: #F22;}
	60% {background-color: #F33;}
	80% {background-color: #F44;}
	100% {background-color: #F55;}
}

@keyframes blink_green
{
	0% {background-color: #0F0;}
	20% {background-color: #2F2;}
	40% {background-color: #4F4;}
	60% {background-color: #6F6;}
	80% {background-color: #8F8;}
	100% {background-color: #AFA;}
}


a.button, input[type=submit] {
    text-decoration: none; 
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	font-color: white;
	background-color: #666;
	border: 1px solid white;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display: inline-block; 
	padding: 2px 3px;
	
    
}

a.inactive {
	background-color: #444;
	color: #DDD;
	cursor: default;
}

a.inactive:hover {
	cursor: default;
}

.led:after {
    content: "";
    display: inline-block;
	vertical-align: middle;
    background-color: #000;
    box-shadow: #333 0 0 7px 1px, inset #DDD 0 0 2px;
    margin-left: 0.5em;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.red:after { 
	background-color: #F00; 
}

.green:after { 
	background-color: #0F0; 
}

.blue:after { background-color: #00F; }
