@font-face{
    font-family: 'CustomFont';
    src: url('/fonts/Franklin_Gothic_Heavy-Regular.ttf');
}

body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: black;
}

div#renderer {
    cursor: none;
    height:100%;
    width:100%;
}

div#renderer * {
    position: absolute;
    height:100%;
    width:100%;
}

div#bgrs {
    z-index: 1;
    display: none;
}

div#bgrs img {
    height:unset;
    max-height: 100%;
}

div#override * {
    display: block;
    height:unset;
    max-height: 100%;
}

div#override {
  transition: opacity 1s ease-in-out; 
  -webkit-transition: opacity 1s ease-in-out; 
  opacity: 0;
  z-index: 5;
}

div#override.shown {
  opacity: 1;
}

div#canvas {
  z-index: 2;
}

div#clock canvas {
    display: block;
    height:unset;
    max-height:12%;
    width: 100%;
    bottom: 0px;
    transition: transform 1s ease-in-out;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    z-index: 3;
}

div#clock canvas.hidden {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}

div#canvas * {
    display: block !important;
}

div#errors {
    display:inline-block;
    position: absolute;
    font-size: 50px;
    right: 0px;
    top: 0px;
}
div#errors * {
    position: relative;
    display: none;
}

div#errors *.active{
   display: block;
}

div#errors #stopped{
}

div#pres{
    display: none !important;
}

div#pres img {
    height: 1px;
    width: 1px;
}

div#connection {
	color: blue;
}

div#loggedout {
	color: red;
}

div#stopped {
	color: white;
}

/* example 6 from https://css-tricks.com/examples/CSSTabs/ */

.tabs { min-height: 500px; position: relative; width: 100%; }
.tabs > div { display: inline; }
.tabs > div > a { margin-left: -1px; position: relative; left: 1px; text-decoration: none; color: black; background: white; display: block; float: left; padding: 5px 10px; border: 1px solid #ccc; border-bottom: 1px solid white; }
.tabs > div:not(:target) > a { border-bottom: 0; background: -moz-linear-gradient(top, white, #eee); }	
.tabs > div:target > a { background: white; }	
.tabs > div > div { background: white; z-index: -2; left: 0; top: 30px; bottom: 0; right: 0; padding: 20px; border: 1px solid #ccc; }	
.tabs > div:not(:target) > div { position: absolute }
.tabs > div:target > div { position: absolute; z-index: 0; }
