//
// displays.css.scss
// isk
// 
// Created by Vesa-Pekka Palmu on 2014-06-13.
// Copyright 2014 Vesa-Pekka Palmu. All rights reserved.
//

@import 'variables';

ul#override_queues {
	display: inline-block;
	overflow: auto;
	
	div.slide_image {
		float: left;
		display: inline;
		img {
			width: 160px;
			height: 90px;	
		}
	}
	
	div.slide_name {
		float: left;
		display: inline;
	}
	
}

#override_queues form {
	display: inline-block;
}

#override_queues .actions {
	float: right;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}


col.slide {
	width: 400px;
}

div.slidename_400px {
	width: 400px;
	overflow: hidden;
}

table.override_queue {
	div.slidebuttons {
		display: none;
	}
	
	div.hidden_slide {
		background-color: #666;
		
		img {
			opacity: 1;
		}
	}
}

// remote control stuff
div.display_preview_wrapper {
	float: right;
}

div.display_preview {
	display: block;
	position:fixed;
	top: 120px;
	right: 15px;
	box-shadow:0 2px 4px rgba(0, 0, 0, .3);	
	
	div.display_info {
		float: none;
	}
	
	img {
		border: 5px solid $red_highlight;
	}
	
	div.control_buttons {
		border: $slide_border;
		background: $warning_bg;
		border-radius: $table_border_radius;
		display: block;
		margin: 5px;
		padding: 5px;
	}
}

div.display_control_header {
	margin-right: 425px;
}

div.display_control {
	margin-right: 425px;
		
	div.group {
		display: block;
		padding: 5px;
		margin: 5px;
		background: $table_row_bg;
		
		h1 {
			font-size: 14pt;
			text-align: center;
		}
		
		div.slide {
			display: inline-block;
			margin: 5px;
			background: $slide_public_bg;
			
			h2.slideheader {
				font-size: 8pt;
				max-width: 130px;
				overflow: hidden;
				text-align: center;
				padding: 0px;
				margin: 0px;
			}
			
			img {
				width: 128px;
				height: 72px;
				padding: 5px;
				cursor: pointer;
			}
		}
	}
	
	.active {
		background: $warning_bg;
	}
}


// views/displays/_display.html.slim
div.display_info {
	margin: 5px;
	float: left;
	border: $slide_border;
	border-radius: $table_border_radius;
	background: $slide_public_bg;
	
	&.display_info.late {
		background: $warning_bg;
	}
	
	
	div.display_header {
		padding: 5px;
		max-width: 380;
		overflow: hidden;
		font-size: 1.5em;
	}
	
	div.display_current_slide {
		
	}
	
	div.display_metadata {
		ul {
			list-style-type: none;
			margin: 5px;
			padding: 5px;
		}
		
		.late {
			font-weight: bold;
		}
		
		.on_time {
			
		}
	}
	
	div.display_actions {
		margin: 5px;
		a {
			font-size: 1.1em;
		}
	}
}

div.display_properties {
	display: block;
	overflow: auto;
	
	margin: 5px;
	div.extra_information {
		float: left;
		margin-left: 5px;
	}
	
	div.display_info {
		
	}
}

div.override_queue {
	overflow: auto;
}