// Place all the styles related to the displays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#override_queues img {
	width: 160px;
	height: 90px;
}

#override_queues li {
	height: 92px;
}

#override_queues .slideimage {
	float:left;
	display: inline;
}

#override_queues .handle {
	float: left;
	display: inline;
}

#override_queues li.published:nth-child(odd) {
	color:#000;
	background-color:#FFA0A0;
}

#override_queues form {
	display: inline-block;
}

#override_queues .slidename {
	overflow: hidden;
	font-size: 80%;
	display: inline-block;
}

#override_queues .actions {
	float: right;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}


col.slide {
	width: 400px;
}

div.slidename_400px {
	width: 400px;
	overflow: hidden;
}

table.override_queue {
	div.slidebuttons {
		display: none;
	}
	
	div.hidden_slide {
		background-color: #666;
		
		img {
			opacity: 1;
		}
	}
}

div.display_preview_wrapper {
	float: right;
}

div.display_preview {
	display: block;
	background: red;
	float: right;
    
    div.display_info {
        float: none;
    }
    
    div.control_buttons {
        border: 2px solid #d0d0d0;
        border-radius: 10px;
        display: block;
        margin: 5px;
        padding: 5px;
    }
}

div.display_preview.stuck {
	position:fixed;
	top:0;
	right: 5px;
	box-shadow:0 2px 4px rgba(0, 0, 0, .3);
}

div.display_info {
    border: 2px solid red;
    margin: 5px;
    float: left;
    border: 2px solid #d0d0d0;
    border-radius: 10px;
    
    div.display_header {
        padding: 5px;
        max-width: 380;
        overflow: hidden;
        font-size: 1.5em;
    }
    
    div.display_current_slide {
        
    }
    
    div.display_metadata {
        ul {
            list-style-type: none;
            margin: 5px;
            padding: 5px;
        }
        
        .late {
            font-weight: bold;
        }
        
        .on_time {
            
        }
    }
    
    div.display_actions {
        margin: 5px;
    }
}

div.display_info.late {
    background: #A55;
}

div.display_control {
    margin-right: 410px;
    
	div.slide {
		display: inline-block;
		margin: 5px;
		background: #BBB;
		
		img {
			width: 128px;
			height: 72px;
			padding: 5px;
		}
	}
	
	div.group {
		display: block;
		padding: 5px;
		margin: 5px;
		background: #999;
		
		h1 {
			font-size: 14pt;
		}
		
		h2.slideheader {
			font-size: 8pt;
			max-width: 130px;
			overflow: hidden;
		}
	}
	
	.active {
		background: #F00;
	}
}
