
.field_with_errors {
	padding: 2px;
	background-color: red;
	border: 2px solid red;
}

.field_with_errors input, .field_with_errors select {
	background-color: #FFC4C4;
}

.errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
}

.errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	color: #fff;
}

.errorExplanation p {
	margin-bottom: 0;
	padding: 5px;
}

.errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}
