//
// groups.css.scss
// isk
// 
// Created by Vesa-Pekka Palmu on 2014-06-13.
// Copyright 2014 Vesa-Pekka Palmu. All rights reserved.
//

// groups#index
div.group_list {
  margin-right: 150px;
  margin-left: 0px;
  
  div.panel {
    div.panel-heading {
      div.btn-group {
        float: right;
      }
    }
  }
}


// Table in add slides
table#slide_selection {
	max-width: 660px;
	
	col.slide-name {
		max-width: 200px;
	}
	col.slide-preview {
		width: 410px;
	}
	
	col.checkbox {
		max-width: 50px;
	}
}


// Drag-and-Drop sortable slides inside groups#edit
ul#slides {
	display: inline-block;
	
	div.slide_image {
		float: left;
		padding-right: 20px;
		
		table {
			border: none;
			border-collapse: collapse;
			
			td, th {
				border: none;
				border-collapse: collapse;
				background-color: inherit;
			}
			
			th {
				font-size: 1em;
			}
		}
		
		img {
			width: 160px;
			height: 90px;
		}
	}
	
	li.published:nth-child(odd) {
		color:white;
		background-color: $green;
	}
	
	li.published:nth-child(even) {
		color:white;
		background-color: $green_dark;
	}
	
	div.ungroup_slide {
		float: right;
	}
}