// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slides img {
	width: 160px;
	height: 90px;
}

#slides li {
	height: 92px;
}

#slides .slideimage {
	float:left;
}

#slides .handle {
	float: left;
}

#slides li.published:nth-child(odd) {
	color:white;
	background-color:#575;
}


#slides li.published:nth-child(even) {
	color:white;
	background-color:#7A7;
}


div.groupitem {
	border: 2px solid #666;
    border-radius: 10px;
	margin: 10px;    

    div.groupheader {
    	margin-bottom: 5px;
    	font-size: 1.5em;
    	height: 30px;
    	border-bottom: 2px solid #666;	
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        text-align: center;

        div.groupname {
        	max-width: 500px;
        	overflow: hidden;
        	display: inline;
        }
        
        div.groupbuttons {
        	height: 22px;
        	display: inline;
        	a.button {
        		font-size: 12px;
        	}
	
        }
        
    }
    
    div.slides_in_group {
    	display: inline-block;
    	min-height: 80px;
    	padding: 5px;
        
        img {
    		width: 128px;
    		height: 72px;
    		border: 2px solid black;
    		float: left;
    		display: inline-block;
    		margin: 2px;
    	}

    	img.slide-hidden {
    		opacity: 0.6;
    		border: 2px solid #666666;
    	}

    	div.no_slides {
    		font-size: 18px;
    		color: #DD6666;
    	}
    }   
        
}


div.grouplist {
    margin-right: 175px;
}