//
// groups.css.scss
// isk
// 
// Created by Vesa-Pekka Palmu on 2014-06-13.
// Copyright 2014 Vesa-Pekka Palmu. All rights reserved.
//

@import 'variables';

ul#slides {
	display: inline-block;
	
	div.slide_image {
		float: left;
		padding-right: 20px;
		
		table {
			border: none;
			border-collapse: collapse;
			
			td, th {
				border: none;
				border-collapse: collapse;
				background-color: inherit;
			}
			
			th {
				font-size: 1em;
			}
		}
		
		img {
			width: 160px;
			height: 90px;
		}
	}
	
	li.published:nth-child(odd) {
		color:white;
		background-color: $green;
	}
	
	li.published:nth-child(even) {
		color:white;
		background-color: $green_dark;
	}
	
	div.ungroup_slide {
		float: right;
	}
} 


div.groupitem {
	border: 2px solid #666;
    border-radius: 10px;
	margin: 10px;    

    div.groupheader {
    	margin-bottom: 5px;
		font-size: 1.5em;
    	border-bottom: 2px solid #666;	
        padding: 5px;
        text-align: center;
		overflow: auto;

        div.groupname {
        	max-width: 500px;
        	overflow: hidden;
        	display: inline;
			float:left;
			margin-left: 5px;
        }
        
        div.groupbuttons {
        	height: 22px;
        	display: inline;
        	a.button {
        		font-size: 12px;
        	}
			float: right;
			margin-right: 5px;
		
        }
        
    }
    
    div.slides_in_group {
    	display: inline-block;
    	min-height: 80px;
    	padding: 5px;
        
        img {
    		width: 128px;
    		height: 72px;
    		border: 2px solid black;
    		float: left;
    		display: inline-block;
    		margin: 2px;
    	}

    	img.slide-hidden {
    		opacity: 0.6;
    		border: 2px solid #666666;
    	}

    	div.no_slides {
    		font-size: 18px;
    		color: #DD6666;
    	}
    }   
        
}


div.group_list {
    margin-right: 175px;
}