//
// groups.css.scss
// isk
// 
// Created by Vesa-Pekka Palmu on 2014-06-13.
// Copyright 2014 Vesa-Pekka Palmu. All rights reserved.
//

@import 'variables';

ul#slides {
	display: inline-block;
	
	div.slide_image {
		float: left;
		padding-right: 20px;
		
		table {
			border: none;
			border-collapse: collapse;
			
			td, th {
				border: none;
				border-collapse: collapse;
				background-color: inherit;
			}
			
			th {
				font-size: 1em;
			}
		}
		
		img {
			width: 160px;
			height: 90px;
		}
	}
	
	li.published:nth-child(odd) {
		color:white;
		background-color: $green;
	}
	
	li.published:nth-child(even) {
		color:white;
		background-color: $green_dark;
	}
	
	div.ungroup_slide {
		float: right;
	}
} 


table.group_item {
	width: 100%;
	margin: 10px 0px;
	
	td.buttons {
		margin-right: 5px;
		text-align: right;
	}
    
	img {
		width: 128px;
		height: 72px;
		border: 2px solid $primary_highlight;
		margin: 2px;
	}

	img.slide-hidden {
		opacity: 0.6;
	}

	div.no_slides {
		font-size: 18px;
		color: $red_highlight;
		text-align: center;
		width: 100%;
	}   

}


div.group_list {
    margin-right: 175px;
	margin-left: 0px;
}