//
// master.css.scss
// isk
//
// Created by Vesa-Pekka Palmu on 2014-06-10.
// Copyright 2014 Vesa-Pekka Palmu. All rights reserved.
//
// ISK master stylesheet

@import 'variables';

/*
* TODO: Move to sensible files
*/

div.error_notification {
	font-size: 1.4em;
	background: $warning_bg;
	color: $warning_text_color;

	a {
		padding: 10px 20px;
		display: inline-block;
	}
}

body {
	background: $background_color;
	font: $font;
	color: $font_color;
	min-width: 600px;
	width: 100%;
	margin: 0px;
}

div.content {
	width: auto;
	margin: 10px;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input {
	font-family: $font_family;
}

h1 {font-size:220%;margin-top:0px;font-weight:normal}
h2 {font-size:200%;margin-top:10px;margin-bottom:10px;font-weight:normal}
h3 {font-size:180%;font-weight:normal}
h4 {font-size:150%;}
h5 {font-size:120%;}
h6 {font-size:110%;}

h1,h2,h3,h4,h5,h6 {
	background-color:transparent;
}

table,th,td,input,textarea {
	font-size:100%;
}

table {
	border-collapse:separate;
	border-spacing: 0;

	tr {
		td, th {
			padding: 3px 7px 2px 7px;
			border-right: $table_border;
			border-bottom: $table_border;
		};

		&:nth-child(odd) td {
			background: $table_row_odd_bg;
			border-color: $secondary_darker;
		};

		th:first-child, td:first-child{
			border-left: $table_border;
		};

		th {
			font-size: 1.2em;
			text-align: left;
			font-weight: bold;
			padding-top: 5px;
			padding-bottom: 4px;
			border-top: $table_head_border;
			background: $table_head_bg;
			color: $table_head_font_color;
		}


		td {
			vertical-align: top;
			background-color: $table_row_bg;

		};

		td.error {
			background-color: $warning_bg;
		}

		&:first-child {
			th:first-child, td:first-child {
				border-top-left-radius: $table_border_radius;
			};

			th:last-child, td:first-child {
				border-top-right-radius: $table_border_radius;
			};
		};

		&:last-child {
			th:first-child, td:first-child {
				border-bottom-left-radius: $table_border_radius;
			};

			th:last-child, td:last-child {
				border-bottom-right-radius: $table_border_radius;
			};
		};
	}
}

img {
	border: none;
}

ul {
	margin-left: 5px;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 0px;
	list-style-type: circle;

	li {}
}

div.flash {
	display: block;
	font-size: 1.5em;

	div {
		padding-left: 10px;
	}

	div.notice {
		background: $green;
	}

	div.error {
		background: $warning_bg;
	}

	div.warnng {
		background: $secondary;
	}
}
div.content {
	padding: 0.5em 0.5em;
}

div.warning {
	p {
		background-color: $warning_bg;
		font-weight: bold;
		padding: 1em;
		display: inline-block;
	}
}


a:link, a:visited {
	color: inherit;
}

a:hover {
	color: $link_hover_color;
};

form {
	display: inline-block;
}
