/*
 * Isk master stylesheet
*/

@import 'variables';

/*
 * TODO: Move to sensible files
*/

div.error_notification {
	font-size: 1.4em;
	background-color: $error_bg_color;
	
	a {
		padding: 10px 20px;
		display: inline-block;
	}
}



body {
	color: $font_color;
	background-color: $background_color;
	font-size: $font_size;
	margin:0px;
	min-width: 600px;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input {
	font-family: $font_family;
}

h1 {font-size:220%;margin-top:0px;font-weight:normal}
h2 {font-size:200%;margin-top:10px;margin-bottom:10px;font-weight:normal}
h3 {font-size:180%;font-weight:normal}
h4 {font-size:150%;}
h5 {font-size:120%;}
h6 {font-size:110%;}

h1,h2,h3,h4,h5,h6 {
	background-color:transparent;
}

table,th,td,input,textarea {
	font-size:100%;
}

img {
	border: none;
}

ul {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
	list-style-type: circle;
		
	li {
	}
	
}

img.preview {
	height: 225px;
	width: 400px;
	border: 2px solid #d0d0d0;
}

div.flash {
	display: block;
	font-size: 1.5em;
	
	div {
		padding-left: 10px;
	}
	
	div.notice {
		background: green;
	}

	div.error {
		background: red;
	}
	
	div.warnng {
		background: yellow;
	}
}
div.content {
	padding: 0.5em 0.5em;
}

div.warning {
	p {
		background-color: #770;
		font-weight: bold;
		padding: 1em;
		display: inline-block;
	}
}


a:link, a:visited {
	color: inherit;
}

a:hover {
	color: $link_hover_color;
};

form {
	display: inline-block;
}
