//
// master.css.scss
// isk
//
// Created by Vesa-Pekka Palmu on 2014-06-10.
// Copyright 2014 Vesa-Pekka Palmu. All rights reserved.
//
// ISK master stylesheet

@import 'variables';

// Tag to show that ISK is running in development mode
div#dev_mode {
  position: fixed;
  right: 0px;
  top: 25px;
  z-index: 1000;
  font-size: 30pt;
  color: red;
}

div.error_notification {
	font-size: 1.4em;
	background: $warning_bg;
	color: $warning_text_color;

	a {
		padding: 10px 20px;
		display: inline-block;
	}
}
