/* ISK stylesheet for the navigation bars at the top of the page
 * 
*/

@import 'variables';

div.navigation {
	font-size: 1.4em;
}

div.top_navigation {
	border-bottom: 2px solid #DDD;
	font-size: 110%;
	padding: 0px;		
		
	div#current_event {
		float: right;
		padding: 0px;
		margin: 0px 2em;
	}
		
	ul.tabs {
		display: inline-block;
	}
		
	ul#logout {
		float: right;
		
		li{
			background-image: none;
			border-color: #300;
			background-color: $button_warning_color;
		}
	} 
		
}	


div.navigation {
	border-bottom: 2px solid #DDD;
	background-color: $nav_tab_color;
	
	a {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		padding: 0em 0.3em;
		margin: 0px 0px 0px 0px;
		border-right: 1px solid #DDD;
		border-left: 1px solid #DDD;
		border-collapse: collapse;
		text-decoration: none;
		float: left;
	}
	
	a.current {
		background-color: white;
		border-bottom: 2px solid white;
	
	}
	
}


