/* ISK stylesheet for the navigation bars at the top of the page
 * 
*/

@import 'variables';

div.navigation {
	font-size: 1.4em;
}

div.top_navigation {
	border-bottom: 2px solid #DDD;
	padding-top: 0.5em;
	font-size: 1.4em;
	
	a {
		display: inline-block;
		border-right: 1px solid black;
		border-left: 1px solid black;
		border-top: 1px solid black;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background-color: $nav_tab_color;
		text-decoration: none;
		padding: 0.2em 0.5em 0px 0.5em;
		margin: 0px 0.1em;
	}
	
	a.current {
		background-color: $nav_current_color;
	}

	
	div.logout {
		float: right;
		display: inline;
		
		a.logout {
			background-color: $button_warning_color;		
		}		
	}
	
	div.tabs {
		display: inline;
	}
	
	div.current_event {
		display: inline;
		margin-left: 1em;
	}
	
	
}

div.navigation {
	border-bottom: 2px solid #DDD;
	background-color: $nav_tab_color;
	
	a {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		padding: 0em 0.3em;
		margin: 0px 0px 0px 0px;
		border-right: 1px solid #DDD;
		border-left: 1px solid #DDD;
		border-collapse: collapse;
		text-decoration: none;
		float: left;
	}
	
	a.current {
		background-color: white;
		border-bottom: 2px solid white;
	
	}
	
}


