//
// presentations.css.scss
// isk
// 
// Created by Vesa-Pekka Palmu on 2014-06-10.
// Copyright 2014 Vesa-Pekka Palmu. All rights reserved.
//

table.presentation-table {
	max-width: 640px;
	
	col.presentation-name {
		max-width: 200px;
		font-weight: bold;
	}
	
	col.presentation-groups {
		width: 50px;
	}
	
	col.presentation-slides {
		width: 50px;
	}
	
	col.presentation-runtime {
		width: 50px;
	}
	
	col.presentation-actions {
		width: 260px;
	}
}

table.preview {
	td.group {
		font-size: 1.2em;
		font-weight: bold;
		background: $green;
	}
}

li.sortable-group {
	overflow: auto;
	
	border: 1px solid $gray-light;
	
	div.btn-group {
		float: right;
	}
	
	&.ui-sortable-placeholder {
		height: 30px;
	}
}