// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.schedule_info {
	border: 2px solid #d0d0d0;
	border-radius: 10px;
	width: 400px;
	margin: 5px;
	
	div.schedule_header {
		font-size: 1.5em;
		border-bottom: 2px solid #d0d0d0;
		padding: 5px;
	}
	
	div.schedule_data {
		padding: 5px;
	}
	
	div.schedule_actions {
		padding: 5px;
	}
}

div.schedule_events {
	border: 2px solid #d0d0d0;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	width: 390px;
	
	p.warning {
		color: #DD6666;
		font-size: 1.5em;
		text-align: center;
	}
}