div#wrapper {
width: 640px;
height: 360px;
padding: 0px; 
overflow: hidden;
border: 1px solid black;
}

object#svg {
-ms-zoom: 0.5;
-moz-transform: scale(0.5);
-moz-transform-origin: 0px 0;
-o-transform: scale(0.5);
-o-transform-origin: 0 0;
-webkit-transform: scale(0.5);
-webkit-transform-origin: 0 0;
}

textarea#head {
  font-family: 'Franklin Gothic Heavy';
  font-weight: normal;
  font-size: 2em;
}

textarea#text {
  font-family: 'Franklin Gothic Heavy';
  font-weight: normal;
  font-size: 1.2em;
}

textarea#code {
	display: hidden;
}


div.simple_editor_container {
	min-width: 900px;
	overflow: auto;
	
	textarea {
		width: 400px;
	}
	
	input#head {
		width: 400px;
	}
	
	div.simple_editor_controls {
		max-width: 400px;
		float: left;
		margin-right: 5px;
	}
	
	div.simple_editor_preview {
		border: 2px solid #555;
		margin-left: 10px;
		display: block;
		position: absolute;
		bottom: 50px;
		left: 430px;
	}
	
}