//
// slides.css.scss
// isk
// 
// Created by Vesa-Pekka Palmu on 2014-06-10.
// Copyright 2014 Vesa-Pekka Palmu. All rights reserved.
//

@import 'variables';

@font-face{
font-family: 'Franklin Gothic Heavy';
src: url('/fonts/Franklin_Gothic_Heavy-Regular.ttf'),
     url('/fonts/Franklin_Gothic_Heavy-Regular.eot'); /* IE9 */
}

@font-face{
font-family: 'Franklin Gothic Heavy';
src: url('/fonts/Franklin_Gothic_Heavy-Italic.ttf'),
     url('/fonts/Franklin_Gothic_Heavy-Italic.eot'); /* IE9 */
font-style: italic;
}

//slide preview image
img.preview {
	width: 400px;
	height: auto;
	border: 2px solid $primary_highlight;
}


div.scrolling_div-wrapper {
	float: right;
	margin: 0px;
	padding: 0px;
}

div.group_links {
	display: block;
	max-width: 150px;
	margin: 0px 15px 0px 0px;
	top: 0px;
	right: 6px; // WTF is this requirement?
	
	a {
		text-decoration: none;
	}	
}

div.stuck {
	position:fixed;
}


div.slide_list {
	min-width: 600px;
}

div.slide_groups {
	margin-right: 175px;
}

table.compact_slidelist {
	width: 100%;
	min-width: 430px;
}

// app/views/slides/_slide.html.slim
div.slide {
	margin: 2px;
	padding: 5px;
	border: $slide_border;
	border-radius: 10px;
	background: $slide_public_bg;
	display: inline-block;
	
	&.hidden {
		background: $slide_hidden_bg;
		border: $slide_hidden_border;

		img {
				opacity: 0.6;
		}
	}
	
	
	div.slide_header {
		width: 400px;
		margin-bottom: 5px;
		font-size: 1.5em;
		padding-bottom: 5px;
	
		div.slide_type {
			float: right;
			padding: 5px 5px;
			font-size: 0.7em;
			border-radius: 10px;
			border: 1px solid #333;
			display: inline-block;
			
			&.image {
				background: $primary;
			}
	
			&.svg-edit {
				background: $green_dark;
			}
	
			&.simple {
				background: $green;
			}
	
			&.inkscape {
				background: $red;
			}
			
			&.template {
				background: $red_highlight;
			}
	
			&.http {
				background: $secondary;
			}
	
			&.video {
				background: $secondary_highlight;
			}
		}
	}
	
	div.slide_name {
		max-width: 320px;
		overflow: hidden;
		display: inline-block;
	}
	
	
	
	div.slide_buttons {
		margin-top: 5px;
		text-align: center;
		min-height: 22px;
		width: 400px;	
	}
	
}

div.slide_filter {
	display: inline-block;
	margin: 20px 1.5em;
	
	a {
		text-decoration: none;
		display: inline-block;
		border: 2px solid white;
		border-right: none;
		padding: 5px 10px;
		float: left;
	}
	
	a:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	
	a:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-right: 2px solid white;
		float: none;
	}
	
	a.current {
		background-color: #666;
		font-weight: bold;
	}
}


// slide#show
div.slide_info {
	div.slide {
		float: left;
	}
	
	div#tabs {
		float: left;
	}
	
	div.info_block {
		width: 525px;
		
		h2 {
			margin-top: 0px;
		}
	}
	
	div.slide_metadata {
		table.slide_description {
			width: 100%;
		}
	}

	div.left_column, div.right_column {
		margin: 10px;
	}

	div.left_column {
		float:left;
		max-width: 440px;
	}

	div.right_column {
		max-width: 440px;
		float: left;
	}
	
	table.add_override {
		border: none;
		
		tr {
			border: none;
			
			td {
				border: none;
			}
		}
	}
}


div.slide_form {
	max-width: 420px;	
	textarea {
		width: 400px;
	}

	input#slide_name {
		width: 400px;
	}
}

// Template slide editor
div#template_slide_form {
}

table.template_slide_fields {
	input[type="text"], textarea {
		width: 300px;
	}
	
	textarea{
		resize: none;
		height: 100px;
	}
}


// Simple editor view and preview
div.simple_editor_container {
	min-width: 830px;
	display: block;
	
	div.simple_editor_controls {
		max-width: 400px;
		margin-right: 5px;
	
		textarea#simple_head {
		  font-family: 'Franklin Gothic Heavy';
		  font-weight: normal;
		  font-size: 2em;
		}

		textarea#simple_text {
		  font-family: 'Franklin Gothic Heavy';
		  font-weight: normal;
		  font-size: 1.2em;
		}
	
	}

	div.simple_editor_preview {
		border: 2px solid #555;
		margin-left: 10px;
		text-align: center;
		float: right;
				
		div#updating_preview {
			position: relative;
			top: 5em;
			height: 0px;
			p {
				border: 2px solid white;
				border-radius: 10px;
				background-color: black;
				display: inline-block;
				padding: 1em;
				opacity: 0.5;
							
			}
		}
		
		div.svg_container {
			width: 400px;
			height: 225px;
			padding: 0px; 
			border: 1px solid black;

			svg {
				width: 400px;
				height: 225px;
			}
		}		
	}	
}



