// Place all the styles related to the slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face{
font-family: 'Franklin Gothic Heavy';
src: url('/fonts/Franklin_Gothic_Heavy-Regular.ttf'),
     url('/fonts/Franklin_Gothic_Heavy-Regular.eot'); /* IE9 */
}

@font-face{
font-family: 'Franklin Gothic Heavy';
src: url('/fonts/Franklin_Gothic_Heavy-Italic.ttf'),
     url('/fonts/Franklin_Gothic_Heavy-Italic.eot'); /* IE9 */
font-style: italic;
}


div.scrolling_div-wrapper {
	float: right;
	margin: 0px;
	padding: 0px;
}

div.group_links {
	display: block;
	max-width: 150px;
	margin: 0px 15px 0px 0px;
	top: 0px;
	right: 6px; // WTF is this requirement?
	
	a {
		text-decoration: none;
	}	
}

div.stuck {
	position:fixed;
}


div.slide_list {
	min-width: 600px;
}

div.slide_groups {
	margin-right: 175px;
}

table.compact_slidelist {
	width: 100%;
	min-width: 430px;
}


div.slide {
	float: left;
	margin: 2px;
	padding: 5px;
	border: 2px solid #d0d0d0;
	border-radius: 10px;
	background-color: #666;
	
	div.slide_header {
		width: 400px;
		margin-bottom: 5px;
		font-size: 1.5em;
		padding-bottom: 5px;
	
		div.slide_type {
			float: right;
			padding: 5px 5px;
			font-size: 0.7em;
			border-radius: 10px;
			border: 1px solid white;
			display: inline-block;
		}
	
	
		div.image {
			background-color: #339;
		}
	
		div.svg-edit {
			background-color: #737;
		}
	
		div.simple {
			background-color: #393;
		}
	
		div.inkscape {
			background-color: #933;
		}
	
		div.http {
			background-color: #399;
		}
	
		div.video {
			background-color: #883;
		}
	}
	
	div.slide_name {
		max-width: 320px;
		overflow: hidden;
		display: inline-block;
	}
	
	
	
	div.slide_buttons {
		text-align: center;
		min-height: 22px;
		width: 400px;
	
		a.button {
			font-size: 12px;
		}
	
	}
	
}

div.slide.hidden {
	background-color: #222;
	img {
			opacity: 0.6;
	}
}

div.slide_filter {
	display: inline-block;
	margin: 20px 1.5em;
	
	a {
		text-decoration: none;
		display: inline-block;
		border: 2px solid white;
		border-right: none;
		padding: 5px 10px;
		float: left;
	}
	
	a:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	
	a:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-right: 2px solid white;
		float: none;
	}
	
	a.current {
		background-color: #666;
		font-weight: bold;
	}
}

div.info_block {
	margin-right: 10px;
}

div.left_column {
	float: left;
	max-width: 420px;
}

div.right_column {
}

div.slide_metadata {
	h3 {
		text-size: 1.2em;
	}
	
	textarea {
		width: 400px;
	}
	
	input#slide_name {
		width: 400px;
	}
}

div.svg_container {
	width: 400px;
	height: 225px;
	padding: 0px; 
	border: 1px solid black;

	svg {
		width: 400px;
		height: 225px;
	}
}

textarea#simple_head {
  font-family: 'Franklin Gothic Heavy';
  font-weight: normal;
  font-size: 2em;
}

textarea#simple_text {
  font-family: 'Franklin Gothic Heavy';
  font-weight: normal;
  font-size: 1.2em;
}

textarea#code {
	display: hidden;
}

div.simple_editor_controls {
	max-width: 400px;
	float: left;
	margin-right: 5px;
}

div.simple_editor_preview {
	border: 2px solid #555;
	margin-left: 10px;
	display: inline-block;
}

div.simple_editor_container {
	min-width: 1200px;
}
