//
// sortable.css.scss
// isk
// 
// Created by Vesa-Pekka Palmu on 2014-06-10.
// Copyright 2014 Vesa-Pekka Palmu. All rights reserved.
//
// For drag-and-drop sortable lists

.ui-sortable-placeholder {
	height: 75px;
}

ul.sortable {
	list-style: none;
	.handle {
		cursor: move;
		float: left;
		margin-right: 10px;
		padding: 5px;
		font-size: 150%;
	}
}

div.sortable-container {
	display: inline-block;
	
	div.panel {
	}
}