//
// variables.css.scss
// isk
// 
// Created by Vesa-Pekka Palmu on 2014-06-10.
// Copyright 2014 Vesa-Pekka Palmu. All rights reserved.
//
// Variables used by various stylesheets

// Primary color theme

$primary: #083d3b;
$primary_dark: #112626;
$primary_darker: #011d1c;
$primary_highlight: #62d3cf;
$primary_light: #98d3d1;

$secondary: #65340c;
$secondary_dark: #3f2c1d;
$secondary_darker: #301601;
$secondary_highlight: #dc9866;
$secondary_light: #dcbca2;

$red: #640c0f;
$red_dark: #3f1c1d;
$red_darker: #300103;
$red_highlight: #dc6669;
$red_light: #dca2a3;

$green: #0e520a;
$green_dark: #193317;
$green_darker: #032701;
$green_highlight: #6ad864;
$green_light: #a2d89f;


// jquery-ui theme stuffs
// We use them later so they need to be on top
$ui-state-hover_bg: #DC9B66 image-url("ui-bg_highlight-soft_30_DC9B66_1x100.png") 50% 50% repeat-x;
$ui-state-hover_border: 1px solid #65340C;
$ui-state-hover_font_color: $secondary_dark;
$ui-state-active_bg: #65340C image-url("ui-bg_highlight-hard_20_65340C_1x100.png") 50% 50% repeat-x;
$ui-state-active_border: 1px solid $primary_dark;
$ui-state-default_bg: #083D3B image-url("ui-bg_highlight-soft_50_083D3B_1x100.png") 50% 50% repeat-x;
$ui-state-error_bg: #640c0f image-url("ui-bg_glass_40_640c0f_1x400.png") 50% 50% repeat-x;
$ui-widget-content_bg: $primary_darker;

// ISK stuff

$background_color: $primary_dark;
$font_color: #eee;
$font_size: 8pt;
$font_family: verdana,helvetica,arial,sans-serif;
$font: $font_size $font_family;

$error_bg_color: #900;
$link_hover_color: #fff;


// For highlighting potentially dangerous actions or messages

$warning_text_color: #eee;
$warning_bg: $red;
$warning_border: $red_dark;
$warning_hover_bg: $red_highlight;
$warning_hover_border: $red_light;

// Buttons

$button_font_color: #eee;

$button_bg: $ui-state-default_bg;
$button_border: 1px solid $primary_dark;

$button_hover_bg: $ui-state-hover_bg;
$button_hover_font_color: $ui-state-hover_font_color;

$button_inactive_bg: #444;
$button_inactive_font_color: $font_color;

// Navigation bars

$nav_bar_bg: $ui-state-active_bg;
$nav_bar_border: 2px solid $primary_dark;
$nav_bar_button_bg: $primary;
$nav_current_color: $primary;

// States

$slide_public_bg: $primary;
$slide_hidden_bg: $primary_dark;
$slide_border: 2px solid $primary_dark;
$slide_hidden_border: 2px solid $primary;

// Tables and table likes
$table_border: 2px solid $secondary_dark;
$table_head_bg: $ui-state-active_bg;
$table_head_border: 2px solid $secondary_dark;
$table_head_font_color: #eee;
$table_row_bg: $secondary_darker;
$table_row_odd_bg: $secondary_dark;
$table_row_border: 1px solid $primary;