/*
 * Variables used by various stylesheets
*/

$background_color: #333;
$font_color: #eee;
$font_size: 0.7em;
$font_family: verdana,helvetica,arial,sans-serif;

$error_bg_color: #900;
$link_hover_color: #fff;
$button_warning_color: #900;

// Navigation bars

$nav_tab_color: #666;
$nav_current_color: #7A7;