<h1>All images in ISK image library:</h1>


<table class="image_table">
	<tr>
		<th>Name</th>
		<th>Preview</th>
		<%if current_user.has_role? 'image-admin'%>
		<th>Actions</th>
		<%end%>
	</tr>
<% @images.each do |img|%>
	<tr>
		<td><%=img.name%></td>
		<td><%=image_preview_tag img.id%></td>
		<%if current_user.has_role? 'image-admin'%>
		<td>
			<%=link_to 'Rename', :action => :edit, :id => img.id%> <br /	>
			<%=link_to 'Delete', {:action=>:destroy, :id=>img.id}, :confirm=>"Are you sure?", :method=>:delete %>
		</td>
		<%end%>
	</tr>
<%end%>
</table>